body {
    color: #00FF00;
    background-color: black;
}

input  {
    color: #00FF00;
    background-color: black;
    outline: 0;
    border-color: black;
    width: 80%;
}

li {
    list-style-type:none;
}
